@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
    .mi_header{
        width: 100%;
        
    }
    aside{
        display: none;
    }
    .boton_cerrar {
        display: flex;
        justify-content: flex-end;
        background-color: transparent;
        color: white;
        outline: 0;
        text-decoration: none;
        border: none;
        position: absolute;
        top: 15px;
        right: 15px;
        border-radius: 3px;
        cursor: pointer;
        transition: right 0.5s;
      }
  }