* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --colorHeader: #7b6d99;
  --colorAside: #edbf97;
  --colorSectionMeme: #e3e3e3;
  --colorTopText: #f3f0f4;
  --colorAsideButton: #9f61f0;
  --colorButtonHover: #c51475;
  --mainColorFont: #4614de;
  --secondColorFont: #4614de;
  --mainFont: "Londrina Solid", cursive;
  --secondFont: "Open Sans Condensed", sans-serif;
  --borderRadius: 15px;
}


.mi_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--colorHeader);
  width: 85%;
  padding: 5px;
  
}
.titulo_pcipal {
  font-family: var(--mainFont);
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}

.autor {
  font-family: var(--mainFont);
  color: var(--mainColorFont);
  font-size: 1rem;
}

li {
  list-style: none;
}

nav ul {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

ul button {
  padding: 10px;
  background-color: var(--colorButtonHover);
  color: var(--color-texto);
  font-size: 14px;
  border: 2px solid var(--secondColorFont);
  box-shadow: #0e032f 3px 3px;
  border-radius: 5px;
 
}
ul button:hover {
  background-color: #75777e89;
  cursor: pointer;
}

/* Main */
/* .seccion1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  margin: 20px;
} */

main {
  display: flex;
  justify-content: center; 
  align-items: center;     
  min-height: 100vh;      
  margin: 35px;
  /* background-color: #4d1ddc;  */
  /* width:100vh;  */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenedor_principal {
  width:100%;              
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e9e7ef;
  padding: 20px;           
  box-sizing: border-box;  
}

.h2_texto_superior, .h2_texto_inferior {
  text-align: center;
  padding: 5px;
  
  
}


.imagen_div {
  height: 450px;
  background-color: black;
  width: 450px;
}

.btn_download {
  background-color: var(--colorButtonHover);
  color: var(--colorTopText);
  border: 2px solid var(--secondColorFont);
  box-shadow: #0e032f 3px 3px;
  padding: 10px;
  margin-top: 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.btn_dow_imagen:hover {
  background-color: #75777e89;
}

main button i {
  padding: 5px;
}



.seccion_aside {
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
 
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  height: 100%;
  background-color: #abacae;
  padding: 15px 10px;
  overflow: auto;
 
}


input,
select {
  margin: 10px 0;
  padding: 5px;
}
.ancho {
  width: 30%;
  margin-right: 5px;
}
::placeholder {
  color: #e13e3e;
}
.seccion_aside h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 20px; */
}
.contenedor_colores {
  display: flex;
}
.selector_color {
  width: 50%;
  padding: 10px;
}
div h4 {
  margin: 10px auto;
}
.margenes {
  margin: 10px auto;
}
aside button {
  background-color: var(--colorButtonHover);
  color: wheat;
  border: 2px solid var(--secondColorFont);
  box-shadow: #0e032f 3px 3px;
}

.button-direction{
  cursor: pointer;
}

.alinear_btn{
  cursor: pointer;
}

.btn_restablecer_filtros{
  cursor: pointer;
  padding: 7px;
  align-items: center;
  border-radius: 5px;
}

.btn_restablecer_filtros:hover{
  background-color: #3d3f43c1;
}

.mi_footer {
  text-align: center;
  font-size: 20px;
  margin: 30px;
}

.aside_imagen{
  display: none;
  height: 100vh;

}
.hidden{
  display: none;
}